.main-page {
    display: flex;
    column-gap: 2px;
    height: 100vh;
}

.main-menu {
    width: 300px;
    min-width: 300px;
    margin: 5px;
    border-radius: .2cm
}

.main-content {
    display: flex;
    width: 100%;
    background-color: #28293D;
    margin: 5px;
    border-radius: .2cm
}

.modal {
    display: block;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
}

.modal-body {
    position: relative;
    top: 30%;
    left: 30%;
    width: 20em;
    height: 20em;
    background: #28293D;
}