/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

html {
    background-color: #1C1C28;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #E7EEEF;
}

body {
    margin: 0;
}