/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

html {
    background-color: #E8EAF4;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #1A1A1A;
}

body {
    margin: 0;
}